[2018-03-14 13:08] mkorszun opened #2 "Check what can we learn/reuse from exrabbit"
Looks like similar [approach](https://github.com/d0rc/exrabbit).

[2018-03-14 13:11] mkorszun opened #3 "Check what can we learn/reuse from gen_amqp"
https://github.com/mrkaspa/gen_amqp

[2018-03-14 13:12] mkorszun opened #4 "Improve readme so it looks better on hex.pm"
https://hexdocs.pm/gen_rmq/readme.html

[2018-03-14 13:13] mkorszun opened #5 "Report metrics"
I think you should be able to turn on metrics reporting. Default should probably be off(?).

Something like:
[code]

And then we can easily have some nice out-of-the box metrics for both consumers and publishers.

Some stats that are probably interesting:
- Publish counts
- Consume count
- reject count (separate for with requeue?)
- ack count? (not sure about this one)
- timing for consumer

We mo

[2018-03-14 13:16] mkorszun opened #6 "Make deadletter setup optional"
Some users might already have dead-letter queues / exchanges setup not following our naming convention. Solution:
* ability to specify dead-letter queue / exchange in the consumer config

[2018-03-14 14:41] mkorszun opened #8 "Fix broken readme link on hex.pm"
This file is not part of the released package -> https://hexdocs.pm/gen_rmq/test/gen_rmq_publisher_test.exs

[2018-03-14 14:42] mkorszun commented on #8
Another one here -> https://hexdocs.pm/gen_rmq/lib/consumer.ex

[2018-03-14 15:21] mkorszun commented on #8
Yet another one -> https://hexdocs.pm/gen_rmq/examples

[2018-06-05 08:07] #8 closed

[2018-06-05 08:07] #4 closed

[2018-06-09 14:42] spier commented on #3
Good idea. While you are at it, might be worth mentioning in the README as well what the different is between this gen_rmq and gen_amqp.

[2018-07-02 08:40] mkorszun opened #24 "Write guides describing most common paterns for setting up consumers and publishers"
Write more samples / tutorials in Wiki.

[2018-07-18 11:39] GabrielMalakias opened #26 "Support to multiple routing keys"
Hello,
First of all, thanks for open source this library! From my point of view it's the easiest to integrate to RabbitMQ that I found so far.

I have just one question, here at company we have many projects using Ruby and almost all of them uses [Hutch](https://github.com/gocardless/hutch). I'm starting an Elixir project and I was looking for something as closer to Hutch as possible and then I've

[2018-07-25 08:57] mkorszun commented on #26
@GabrielMalakias thanks for the issue. This is definitely something we will try to address soon. If you already have some ideas regarding the implementation feel free to propose a PR as well.

[2018-07-25 12:52] mkorszun commented on #26
@GabrielMalakias couple of workaround ideas for your scenario:

1. Consumer binding/routing_key: `appointments.v1.*` will guarantee you will be getting messages with both keys
2. Start separate consumers for both types of messages

[2018-07-25 13:24] mkorszun opened #29 "Failing compilation on OTP21"
Issue is related to compilation problems in `ranch_proxy_protocol`:

* https://github.com/pma/amqp/issues/99
* https://github.com/rabbitmq/rabbitmq-common/issues/269

Dependency hierarchy is as follow:

`gen_rmq` -> `amqp` -> `rabbitmq-common` -> `ranch_proxy_protocol`

New version of `ranch_proxy_protocol` has been published (2.0) but
still waiting for `amqp` and `rabbitmq-common` upgrades.

[2018-08-07 09:27] mkorszun opened #36 "Provide possibility to start consumers with existing connection"

[2018-08-17 06:51] mkorszun opened #38 "Provide possibility to disable logs"

[2018-09-27 21:50] fcevado opened #46 "Use DynamicSupervisor or supervised tasks instead of spawn"
shouldn't gen_rmq be using a DinamicSupervisor instead of spawn,  even a supervised task is better then no supervision, or at least expose a callback so we can decide on how we prefer to deal with concurrency(right now my option is turning off concurrency and do the DinamicSupervisor thing on handle_message). If you agree, i can try something and come up with a pr this weekend

[2018-10-05 11:58] mkorszun commented on #46
@fcevado apologies for a small delay.

See your point and agree that having supervision for messages processed concurrently is good idea. Feel free to propose a PR. Couple of questions:
* where would you like to start `DynamicSupervisor`?
* correct me if I am wrong, but I believe that workers are started synchronously by the `DynamicSupervisor`. Assuming there are some blocking calls in `init` cal

[2018-12-03 08:12] mkorszun commented on #29
Fixed with https://github.com/meltwater/gen_rmq/pull/60

[2018-12-03 08:12] #29 closed

[2018-12-13 10:18] vorce commented on #26
I will close this since there are good solutions for accomplishing the needed functionality.

[2018-12-13 10:18] #26 closed

[2019-01-22 07:11] mkorszun opened #64 "Consumer / Publisher setup should be non-blocking"
Move consumer / publisher blocking setup (connection + channels creation) from `init` callback.

[2019-01-31 12:21] cstaud opened #66 "Let publisher declare queue within init/0"
To declare a queue is only possible for the consumer. But the producer should also be able to declare the queue before pushing messages to avoid message loss in case no consumer created the queue previously. I am pretty new to rabbitmq and its implementation best practices, but as I understood Producer and Consumer should care for creating relevant queues before publishing or consuming.
Please giv

[2019-02-04 16:20] mkorszun commented on #66
Thanks for reaching out.

In general I can see your point, but the biggest issue is that re-declaring the queue with different arguments (ttl, priority, etc.) can break either consumer or publisher (depends on startup order).

So, you would need to ensure that publisher / consumer queue config is always in sync - this might be hard and error prone.

Another disadvantage of the queue declaration in

[2019-02-07 14:16] cstaud commented on #66
Thanks for your insights. Your points look valid to me.
But isn't it worse if you miss messages without notice instead of raising an error on startup?!

In my special case the elixir app acts only as producer. Do you have experience to work around such issues?

Thanks in advance!

[2019-02-13 12:01] mkorszun commented on #66
Hi,

I see couple of options:
* We could extend publisher implementation, to accept optional queue name to bind to provided exchange. Of course we would need to make number of assumptions regarding queue attributes.
* Introduce some kind of utils module, which will provide basic amqp functionality, so we could use it explicitly in a publisher:
[code]
* Start consumer, to ensure that queue is creat

[2019-02-19 16:26] vorce commented on #66
I will close this now, I hope the proposed options by @mkorszun are good enough.

[2019-02-19 16:26] #66 closed

[2019-03-18 12:59] mkorszun opened #72 "Remove support for elixir versions < 1.7"
Especially to empower `handle_continue` callbacks in order to implement non-blocking consumer / publisher setup.

[2019-03-18 13:02] mkorszun commented on #64
Solved with #71

[2019-03-18 13:02] #64 closed

[2019-03-19 10:35] mkorszun opened #73 "Replace Poison with Jason"

[2019-03-19 13:11] #73 closed

[2019-06-25 14:20] #3 closed

[2019-06-25 14:22] #2 closed

[2019-07-16 19:07] TreyE opened #92 "Allow me to specify no routing key and no exchange"
In some cases, I allow either the management fabric or the administrator to allow how messages should be routed in my Rabbit instance.

In these cases, my consumers are only responsible for the creation of a queue, and the queue bindings are constructed elsewhere.

Give me the option to have no routing key and specify no exchange, only creating a queue  and the retry/deadletter queues.

[2019-07-16 19:09] TreyE opened #93 "More Robust Exchange Configuration"
Let me create exchanges with an exchange type other than topic.

In these cases I will also need to be able to provide multiple routing keys.

By necessity, references:
#26
#92

[2019-07-17 07:00] mkorszun commented on #92
@TreyE thanks for reporting. Will prioritize it in the following days. Feel free to propose a PR as well.

[2019-07-17 17:18] TreyE commented on #92
Already working on PR.

[2019-07-17 20:43] TreyE commented on #36
Perhaps some sort of connection pool (poolboy, etc?) could be used.

Understand the idea as it would allow the RabbitMQ preferred way of managing consumers/publishers (i.e. 1 connection with multiple channels).

[2019-07-23 12:33] #93 closed

[2019-07-23 14:51] mkorszun opened #99 "Better caching for plt files on travis"
Initial builds can take up to 15m. We should try to reduce it to 5m if possible.

[2019-07-23 14:52] mkorszun opened #100 "Migrate from travis to GitHub Actions"

[2019-08-09 07:33] vorce commented on #100
Github's own CI/CD might also be an option soon :)

[2019-09-18 07:28] mkorszun commented on #72
Done with https://github.com/meltwater/gen_rmq/pull/103

[2019-09-18 07:28] #72 closed

[2019-09-18 07:33] mkorszun opened #107 "Support publishing with confirmations"

[2019-09-18 07:43] mkorszun opened #108 "Use handle_continue for non-blocking consumer/publisher setup"
After bumping minimum required elixir version to 1.7 we are ready to use [handle_continue](https://hexdocs.pm/elixir/GenServer.html) callback:
https://medium.com/@tylerpachal/introduction-to-handle-continue-in-elixir-and-when-to-use-it-53ba5519cc17

[2019-09-19 08:32] vorce commented on #107
Being worked on in https://github.com/meltwater/gen_rmq/pull/110

[2019-10-01 11:24] mkorszun commented on #107
Released in https://github.com/meltwater/gen_rmq/releases/tag/v2.1.0

[2019-10-01 11:24] #107 closed

[2019-10-03 10:29] vorce commented on #100
I've tried the beta of github CI for an elixir project (https://github.com/vorce/lasso), so far I prefer Drone.

[2019-10-07 07:43] mkorszun commented on #100
Cool, would love to hear your opinion and learning.

[2019-10-14 18:32] akoutmos opened #118 "Message persistence support"
From my testing is seems as though message persistence is not functioning (either by setting `persistence: true` as required by amqp or by setting `delivery_mode: 2` as required by RabbitMQ).

It seems as though the problem is that the list of metadata_fields (https://github.com/meltwater/gen_rmq/blob/master/lib/publisher.ex#L12) do not align with the amqp client fields that are eventually aggrega

[2019-10-18 12:17] #118 closed

[2019-11-11 14:18] dch opened #128 "GenRMQ.Publisher top-level metadata fields are incorrectly merged"
`merge_metadata/2`should not override a custom `content_type`, or any other similar
mandatory parameter:

[code]

[2019-11-11 16:03] mkorszun commented on #128
Happening here https://github.com/meltwater/gen_rmq/blob/master/lib/publisher.ex#L339

[2019-11-12 08:24] mkorszun commented on #128
@dch fix is ready -> https://github.com/meltwater/gen_rmq/pull/129

[2019-11-13 08:20] #128 closed

[2019-11-15 11:55] vorce commented on #5
Adding [telemetry](https://github.com/beam-telemetry/telemetry) integration could be a solution to this.

[2019-11-20 07:52] vorce commented on #108
Closing, it's not worth making the OTP version requirement change (see discussion in #111)

[2019-11-20 07:52] #108 closed

[2019-11-27 07:17] themitigater opened #130 "Allow init to accept queue details"
Hey,
I was wondering why we don't have an option to provide args to `start_link` during consumer setup instead of declaring a keyword list statically and using it? Is there a specific reason to not support this?

_Note: The amqp lib does supports this._

[2019-11-27 08:13] mkorszun commented on #130
hey @themitigater, no specific reason. It started like this, because internally at Meltwater this was our initial approach. I agree, that there should be an option to specify params also via `start_link` function. We will try to prioritize it. Feel free to propose a PR as well.

[2020-01-10 15:41] TreyE opened #134 "Begin consumer options refactor."
The internal configuration/parameter management and passing internally for Consumers is getting a little bit complex.  This is counter intuitive, because the actual API itself is very clean.

Refactor the internal representation and parameter passing of the consumer configuration.

**Do NOT alter the external configuration API  for init/1.**

[2020-01-14 04:17] akoutmos commented on #5
@vorce Is adding telemetry to gen_rmq something you are working on? If not I would be very interested in picking this task up. Let me know. Thanks!

[2020-01-16 11:14] mkorszun commented on #5
Hi @akoutmos, as far as I know, there is nothing in progress regarding telemetry integration. So go ahead with it. @vorce can always join you.

[2020-01-16 17:52] akoutmos commented on #5
Sounds good! I'll get to work on something and open a PR when ready :). Thanks!

[2020-01-17 15:28] vorce commented on #5
Yep, nothing started yet. So go for it @akoutmos !

[2020-01-17 15:41] akoutmos commented on #5
Sounds good. I should have something up in the next few days :). Thanks!

[2020-01-18 02:19] akoutmos commented on #5
@vorce @mkorszun I opened up PR #136 with my initial stab at integrating telemetry into gen_rmq. I will add tests and documentation once I get the green light that this is in line what you guys had in mind.

[2020-01-21 08:21] mkorszun commented on #5
@akoutmos great, please continue on it. I have left some PR comments.

[2020-01-30 13:08] akoutmos commented on #5
With #136 closed, this issue can probably be closed as well. I imagine that any future telemetry requests will be on a datapoint by datapoint basis. Thanks again for the speedy merge and excellent feedback!

[2020-02-03 08:04] mkorszun commented on #5
Released 🎉

[2020-02-03 08:04] #5 closed

[2020-02-03 17:27] akoutmos commented on #5
Awesome!!! Thanks a bunch for the release :)

[2020-02-12 17:41] joecorkerton opened #141 "Add support for AMQP.Connection.Open options"
`AMQP.Connection.Open` allows you to specify options along with a URI https://hexdocs.pm/amqp/AMQP.Connection.html#open/2

We would like to enable ssl via linking to a local cacert, which is not currently possible using a URI.

It would be great if inside init it was possible to add a list of options that get passed to `Connection.open`

[2020-02-13 15:12] Shemeikka commented on #141
Hi,

I actually had this same problem and I was just about to open a new issue when I found this one.

I found a simple solution to this problem. It's a small hack but it should work. Currently you can only specify one parameter ('uri') that is passed to the Connection during init but the code actually also accepts Connection's options. Meaning that you can just pass your connection options as uri

[2020-02-14 15:29] mkorszun commented on #141
@Shemeikka regarding connection parameter, is this https://github.com/meltwater/gen_rmq/issues/36 what you are thinking of?

[2020-02-18 16:39] Shemeikka commented on #141
@mkorszun I don't think it's what I'm after. If I understood right, that issue is about passing an existing AMQP connection to consumer.

My thought is just to add a new argument 'connection' and use it like the current 'uri'. It would be better understood since 'uri' argument already works like 'connection' argument but the name implies it can only contain few of the connection options and not al

[2020-02-18 18:57] retf opened #142 "PRECONDITION_FAILED : inequivalent arg 'type' for exchange 'dok' in vhost 'hmasxyha': received 'topic' but current is 'direct'"}},"
Any idea about this error?

** (FunctionClauseError) no function clause matching in GenRMQ.Publisher.terminate/2
    (gen_rmq) lib/publisher.ex:299: GenRMQ.Publisher.terminate({{:shutdown, {:server_initiated_close, 406, "PRECONDITION_FAILED - inequivalent arg 'type' for exchange 'dok' in vhost 'hmasxyha': received 'topic' but current is 'direct'"}}, {:gen_server, :call, [#PID<0.100.1>, {:call, {:"

[2020-02-20 09:18] mkorszun commented on #142
@retf thanks for reporting. Will have a look and get back to you. Could you share details regarding your publisher setup, which might make it easier to investigate / debug?

[2020-02-20 11:39] mkorszun commented on #142
@retf I have not started investigating it yet but it looks like the publisher tries to re-declare already existing exchange. By default, the publisher will declare `topic` exchange but it looks like it is already declared as `direct`. Could you confirm that? If you want to publish to a `direct` exchange type, you need to specify it in publisher config:
`exchange: {:direct, exchange_name}`

Still,

[2020-02-20 11:59] retf commented on #142
Yes, is that the problem!

exchange: {:direct, "dok"}

this make it to work! tks

[2020-02-20 12:05] mkorszun commented on #142
Thanks for the quick feedback. I will take this as an opportunity to improve error handling and documentation.

[2020-02-20 12:27] retf commented on #142
Now I am testing consumer, and get:

** (FunctionClauseError) no function clause matching in GenRMQ.Consumer.terminate/2
    (gen_rmq) lib/consumer.ex:306: GenRMQ.Consumer.terminate({{:shutdown, {:server_initiated_close, 406, "PRECONDITION_FAILED - inequivalent arg 'x-dead-letter-exchange' for queue 'check_protocol' in vhost 'test': received the value 'dok.deadletter' of type 'longstr' but current

[2020-02-20 13:15] mkorszun commented on #142
@retf sounds like you already have `check_protocol` queue. Every consumer will set up a deadletter queue/exchange by default as well. This causes conflict. Try to disable deadletter setup by specifying in the config:

`deadletter: false`

If you have a custom dead-letter setup, you should also reflect it in the consumer setup by providing:

* `deadletter_queue` - defines the name of the deadletter

[2020-02-20 13:26] mkorszun commented on #142
@retf changes to improve the error handling are ready: https://github.com/meltwater/gen_rmq/pull/143

[2020-02-20 13:29] mkorszun commented on #142
@retf Full consumer config documentation is here: https://hexdocs.pm/gen_rmq/GenRMQ.Consumer.html#c:init/0

[2020-02-20 17:12] retf commented on #142
One more doubt, in consumer (init) I want pass a neme for connection, have any way to pass it. for sample in AMQP:

 AMQP.Connection.open(:util.to_binary(uri, @my_conn_name)

 thus I can see it on rabbit connection, like
18.229.160.240:39606
myrabbi_consumer_distribution | hmasxyha | running | ○ | AMQP 0-9-1 | 1 | 71B/s | 6.7kB/

[2020-02-21 08:21] mkorszun commented on #142
@retf I believe it is not possible atm.

[2020-03-04 19:12] vorce commented on #142
I think we can close this now. Thanks for the reports @retf 👍

(Reopen if you feel differently @mkorszun)

[2020-03-04 19:12] #142 closed

[2020-03-04 19:14] vorce commented on #134
Can we close this @TreyE ?

[2020-03-05 06:39] akashsethiya opened #147 "How do i setup consumers for quorum queues"

[2020-03-05 18:32] retf opened #148 "gen_server terminated with reason: no function clause matching"
Any idea here, is related w/ #142

15:22:11.068 [info]  [supervisor: {#PID<0.809.0>, :amqp_connection_sup}, started: [pid: #PID<0.810.0>, name: :connection_type_sup, mfargs: {:amqp_connection_type_sup, :start_link, []}, restart_type: :transient, shutdown: :infinity, child_type: :supervisor]]

15:22:11.089 [info]  [supervisor: {#PID<0.809.0>, :amqp_connection_sup}, started: [pid: #PID<0.811.0>, nam

[2020-03-06 15:05] retf commented on #148
sorry, my mistake, forgot to start
Application.ensure_all_started(:gen_rmq)

[2020-03-06 15:05] #148 closed

[2020-03-06 15:16] Shemeikka commented on #147
Hi,

Currently you can't give queue arguments to Consumer so this can't be done. The queue is always declared as classic type.

[2020-03-06 15:23] Shemeikka commented on #130
Does anyone have any preference on how this should be done?

For example. should init have queue_options that are basically same as [AMQP Queue declare's](https://hexdocs.pm/amqp/AMQP.Queue.html#declare/3) and are passed to the Queue.declare on setup_consumer.

And maybe combine that with the ability to specify all the init params via start_link function like suggested above?

[2020-03-09 08:32] akashsethiya commented on #147
Thanks for the reply

[2020-03-09 18:15] Shemeikka commented on #147
I have worked on this and it's almost done. Requires new tests and documentation updates but otherwise it works.

I have added new option for the consumer init called 'queue_arguments' that accepts AMQP-library's [Queue.declare/3](https://hexdocs.pm/amqp/AMQP.Queue.html#declare/3) option's arguments. This works on my forked version.

Example on how it would work with quorum queue:
[code]

I think

[2020-03-10 08:00] mkorszun commented on #141
Fixed with https://github.com/meltwater/gen_rmq/pull/149

[2020-03-10 08:00] #141 closed

[2020-03-10 09:57] akashsethiya commented on #147
@Shemeikka I was about to start work on this. Thanks 👍

[2020-03-10 12:01] mkorszun commented on #147
@Shemeikka this is great. Looking forward for a PR.

[2020-03-10 12:02] mkorszun commented on #130
@Shemeikka let's start first with a new param for an `init` callback.

[2020-03-12 19:40] Shemeikka commented on #147
Well things changed a little.

There are now two new keys, queue_options and deadletter_queue_options, on init. These are queue options as declared in [AMQP.Queue.declare/3](https://hexdocs.pm/amqp/AMQP.Queue.html#declare/3). Both are optional.

All existing options like queue_ttl will still work but these new queue_options will be used if they are present.

Example
[code]
Is this acceptable @mkor

[2020-03-16 21:32] vorce commented on #147
@Shemeikka yes that looks good to me 👍

[2020-04-03 07:36] spier commented on #147
@vorce looks like this feature was implemented in #150.
Can this issue be closed?

[2020-04-03 07:42] spier commented on #46
@mkorszun given that this issue has no activity for a while, shall we close it, and see if it comes up again?

[2020-04-03 07:43] spier commented on #38
@mkorszun can you elaborate on what you mean here, and why disabling logs would be a useful feature?

[2020-04-03 07:44] spier commented on #99
@mkorszun Given that it looks like you want to move to a different CI solution completely (see #100), shall we close this issue here?

[2020-04-03 08:05] spier commented on #130
@themitigater and @Shemeikka. Thanks for contributing to this discussion! :)
Does either of you feel passionate enough about this particular issue to send a PR? i.e. would either of you need this feature for the way that you use `gen_rmq`?

[2020-04-06 08:09] #24 closed

[2020-04-06 08:10] #38 closed

[2020-04-06 08:11] #134 closed

[2020-04-06 10:08] spier opened #165 "Trusted Committer Invitation: @vorce"
Hi @vorce ,

Thank you for your contributions to gen_rmq!

We want to see gen_rmq strive. To achieve that we are empowering more users to help us push the development of gen_rmq forward. For that purpose we are adding **Trusted Committers** to this repo.

Given your great contributions already, we want to **invite you to become a Trusted Committer of the gen_rmq project.** 🎉

See details about the

[2020-04-06 10:51] mkorszun commented on #147
I will close it once the corresponding changes are officially released.

[2020-04-06 10:53] mkorszun commented on #130
I will close it once we have released the corresponding changes. I also recommend creating a dedicated feature request to support passing configuration via `start_link` function.

[2020-04-06 10:55] mkorszun commented on #99
Closing it for now. We should decide on the CI/CD solution -> https://github.com/meltwater/gen_rmq/issues/100

[2020-04-06 10:55] #99 closed

[2020-04-06 11:06] spier opened #166 "Trusted Committer Invitation: @Shemeikka"
Hi @Shemeikka ,

Thank you for your contributions to gen_rmq!

We want to see gen_rmq strive. To achieve that we are empowering more users to help us push the development of gen_rmq forward. For that purpose we are adding **Trusted Committers** to this repo.

Given your great contributions already, we want to **invite you to become a Trusted Committer of the gen_rmq project.** 🎉

See details about

[2020-04-06 11:07] spier opened #167 "Trusted Committer Invitation: @akoutmos"
Hi @akoutmos ,

Thank you for your contributions to gen_rmq!

We want to see gen_rmq strive. To achieve that we are empowering more users to help us push the development of gen_rmq forward. For that purpose we are adding **Trusted Committers** to this repo.

Given your great contributions already, we want to **invite you to become a Trusted Committer of the gen_rmq project.** 🎉

See details about

[2020-04-06 11:08] spier opened #168 "Trusted Committer Invitation: @TreyE"
Hi @TreyE ,

Thank you for your contributions to gen_rmq!

We want to see gen_rmq strive. To achieve that we are empowering more users to help us push the development of gen_rmq forward. For that purpose we are adding **Trusted Committers** to this repo.

Given your great contributions already, we want to **invite you to become a Trusted Committer of the gen_rmq project.** 🎉

See details about the

[2020-04-06 11:38] spier commented on #130
@mkorszun I don't understand the "waiting for release" label on this issue. Is there already a PR that is associated with this?

[2020-04-06 11:45] mkorszun commented on #130
@spier PR is merged already, but the new version has not been released yet.

[2020-04-06 14:43] spier commented on #130
I see. Got confused there because I did not see a PR linked to this issue.
Thanks for the explanation!

[2020-04-06 18:42] mkorszun commented on #147
@akashsethiya We can now support quorum queues. Please check our [dedicated guide for it](https://github.com/meltwater/gen_rmq/blob/master/documentation/guides/consumer/with_quorum_queue_type.md). In order to have this support, you need to use the latest version - 2.6.0

[2020-04-06 18:42] #147 closed

[2020-04-06 18:43] #130 closed

[2020-04-06 19:20] vorce commented on #165
I accept :) 🎉

[2020-04-06 21:05] spier commented on #165
Awesome! Welcome and congratulations :)

We have already listed you [in here](https://github.com/meltwater/gen_rmq#trusted-committers) and are now hoping for some of the others that we invited to join us too so that we can push gen_rmq forward.

Will close this issue now.

[2020-04-06 21:05] #165 closed

[2020-04-07 13:42] TreyE commented on #168
I will take a look when I can, and thank.  Things are, understandably, a little nuts right now.

Thank you for the invite.

[2020-04-07 13:56] spier commented on #168
Thanks for the quick reply @TreyE.
We completely understand. Things are crazy everywhere right now.

If you have any questions about how this Trusted Committer concept is meant to work, please feel free to ask whatever is unclear.

Cheers

[2020-04-08 11:29] Shemeikka commented on #166
I accept.

[2020-04-08 11:46] spier commented on #166
That is great!
I will handle all required onboarding steps later today.

Would you also like us to announce you contributing to gen_rmq on our twitter channel?
https://twitter.com/MeltwaterEng

If you would like this, please let me know if you have a twitter handle that I should mention. If no, no problem at all either. Just trying to make sure you are greeted with all appropriate honors :)

[2020-04-08 12:17] Shemeikka commented on #166
No need to announce this.

[2020-04-08 15:27] spier commented on #166
Alright, cool. Thanks for the quick feedback.

[2020-04-09 07:18] spier commented on #166
@Shemeikka you should have received an invite now. Welcome on board as a Trusted Committer and we are looking forward to your contributions. Thanks for your help!

[2020-04-13 07:53] spier commented on #166
A onboarding steps done. Closing this ticket.

[2020-04-13 07:53] #166 closed

[2020-04-13 07:55] spier commented on #167
Hi @akoutmos,

just wanted to see if you have any questions about the above, and if you would like to support as gen_rmq as a Trusted Committer? We would love to have you on board.

Cheers
/Sebastian

[2020-04-13 17:35] akoutmos commented on #167
Hey @spier and thanks for invitation! I genuinely appreciate it :).

Apologies on the delay...I must have missed the notification for this a week back. Crazy couple of weeks -_-. I would very much like to be a part of the gen_rmq team and to help out with the development+maintenance of the library. Let me know how you would like to proceed.

Take care!

[2020-04-14 08:56] spier commented on #167
That is great!
I will handle all required onboarding steps later today.

Would you also like us to announce you contributing to gen_rmq on our twitter channel?
https://twitter.com/MeltwaterEng

If you would like this, please let me know if you have a twitter handle that I should mention. If no, no problem at all either.

Just trying to make sure you are greeted with all appropriate honors :)

[2020-04-14 09:17] spier commented on #167
@akoutmos you should have received an invite now. Welcome on board as a Trusted Committer and we are looking forward to your contributions. Thanks for your help!

[2020-04-14 13:56] akoutmos commented on #167
Hey @spier! My twitter handle is also "akoutmos". I appreciate the warm welcome :)

[2020-04-14 16:54] spier commented on #167
Boom! :) Welcome again. Closing this issue as all onboarding steps are done now.
https://twitter.com/MeltwaterEng/status/1250104786151714816

If you have any questions, feel free to reach out at any time.

[2020-04-14 16:54] #167 closed

[2020-04-15 14:28] akoutmos commented on #46
I can take this on if no one else is on it already ?

[2020-04-15 14:31] mkorszun commented on #46
@akoutmos would be great, go ahead. Thanks 👍

[2020-04-26 14:57] dch opened #177 "[BUG] options parsing is broken in 2.6.0"
**Describe the bug**

On 2.5.0, the following is valid:

[code]

**To Reproduce**

1. create consumer using above `init/1` form 2.6.0
2. watch it crash

[code]

**Environment**

tested at least with these:

- Elixir version:  1.10.2 & 1.10.3
- Erlang/OTP version: OTP22
- RabbitMQ version: 3.8.1 & 3.8.3

**Additional context**

[2020-04-26 16:06] mkorszun commented on #177
@dch thanks for reporting. Fix is already waiting for review - https://github.com/meltwater/gen_rmq/pull/178

[2020-04-27 11:08] #177 closed

[2020-04-27 12:28] mkorszun commented on #177
@dch patch version has been released - `2.6.1`. Looking for your feedback.

[2020-04-28 09:24] spier commented on #46
Hi @fcevado great news on this issue that you opened a long time ago. There is work ongoing n https://github.com/meltwater/gen_rmq/pull/179 right now to implement this. If you are curious, would be awesome if you could take a look and leave your comments.

[2020-05-15 07:54] spier commented on #168
Hi @TreyE, I suspect you got busy and don't have time right now?

I will close this ticket for the time being. If you ever get back to this and want to join us as a Trusted Committer for this project, just let us know and we can sort this out.

[2020-05-15 07:54] #168 closed

[2020-05-27 23:26] akoutmos commented on #46
Closing this one for now given that #179 has been merged in :)

[2020-05-27 23:26] #46 closed

[2020-05-28 04:04] akoutmos opened #185 "[FEATURE] Update Telemetry events"
**Is your feature request related to a problem? Please describe.**
We need to update some of the telemetry events to be more in line with what's changing in the telemetry library https://github.com/beam-telemetry/telemetry/issues/57

**Describe the solution you'd like**
Still working on getting a complete list of changes put together, but it looks like we'll need to add an additional field to the

[2020-05-28 14:09] akoutmos commented on #185
I think it would be best to get this in before cutting the next major release as it will also be a breaking change. Thoughts @mkorszun?

[2020-05-28 14:58] mkorszun commented on #185
@akoutmos thanks for raising this issue. Yes, it would be ideal to include it in the upcoming release otherwise we would need to postpone it till the next one. Could you give me a brief estimation of the required effort?

[2020-05-28 15:12] akoutmos commented on #185
I can probably have it wrapped up by Monday start of day if that works?

[2020-05-28 18:59] mkorszun commented on #185
@akoutmos sounds good 👍 feel free to start working on it.

[2020-06-01 13:11] TreyE commented on #168
Makes sense.

[2020-06-02 02:08] akoutmos commented on #185
Opened up PR #189 to address this issue

[2020-06-10 07:19] spier opened #192 "Write migration guide to use new handle_error"
When releasing the new `handle_error` method, we should tell existing users how they migrate from previous versions of gen_rmq to this new approach.

Guides and Examples have already been updated as part of https://github.com/meltwater/gen_rmq/pull/191

Writing a dedicated migration description (maybe in the [wiki](https://github.com/meltwater/gen_rmq/wiki/Migrations)), will make sure that we know

[2020-06-16 11:41] #192 closed

[2020-08-10 19:10] psteininger opened #205 "[DOCUMENTATION] Please provide examples of Processor usage"
Context:
version 3.0.0. introduced the concept of a `Processor` as a way to abstract logic out of the consumer. I would like to see more examples how the two are related and what would be some best practices in structuring code and some motivation behind the idea.

[2020-08-11 09:10] mkorszun commented on #205
@psteininger good point. Will propose some guides/documentation.

[2020-08-12 13:09] spier commented on #205
Great question @psteininger.

Can you share an example or any other form of context it which you might want to use the `Processor` concept?
Or in other words, which problem would you solve with the `Processor` concept?

Would be interesting to hear how other users might want to make use of this.
That way we can maybe also create a more constructive example for the documentation.

[2020-09-30 21:26] ArthurFreitas opened #206 "[FEATURE] Allow the publisher to send messages to the default exchange"
I've been looking for a way to publish messages to the default rabbitmq exchange, but i've had no luck so far.
I tried to set the exchange to "" in the init function, but got `Terminating publisher, error_code: 403, reason: "ACCESS_REFUSED - operation not permitted on the default exchange"`.

Is there a way to do that using this library? If not, what's the reason for this decision?

[2020-10-05 16:41] akoutmos commented on #100
This issue has been open for a while. Is Drone still the preferred CI tool? If GitHub Actions is a viable alternative I would be willing to tackle this effort ;).

[2020-10-05 16:49] mkorszun commented on #100
hey @akoutmos, I would say go for it. If you could also tackle plt caching it would be awesome.

[2020-10-05 16:52] akoutmos commented on #100
Sounds good! I'll try to squeeze this in at some point this week as time allows :)

[2020-10-06 07:52] spier opened #212 "Rename master branch to main"
Many communities are considering renaming the default branch name of their repository from `master` to something else (e.g. `main`).

GitHub recommends to "waiting until later this year (2020)" with the renaming, as they are "investing in tools to make renaming the default branch of an existing repository a seamless experience for both maintainers and contributors". Also see [further info](https:/

[2020-10-06 08:12] spier commented on #206
Hi @ArthurFreitas. I am wondering if your question is the same as https://github.com/meltwater/gen_rmq/issues/92, or at least related to that?

[2020-10-06 12:44] mkorszun commented on #206
hey @ArthurFreitas, no reason for this behavior. We should support it. Atm, it is failing because we always redeclare the exchange (create or get). In this case, broker forbids to redeclare default exchange.

[2020-10-09 19:13] mkorszun commented on #206
@ArthurFreitas I have submitted a PR that should enable support for the default exchange.

[2020-10-13 15:30] molsio opened #214 "Memory usage spiking when too many concurrent messages are being processed"
**Describe the bug**
Publishing 25 msgs to the example consumer crashes the process, and make the process use 100% cpu.

**To Reproduce**
Steps to reproduce the behavior:
1. Starting this consumer example https://github.com/meltwater/gen_rmq/blob/master/documentation/examples/consumer.ex
2. publish 25 messages,
 0..25
    |> Enum.each(fn e ->
      IO.puts("pub: #{e}")
      Publisher.publish_mess

[2020-10-13 18:30] mkorszun commented on #214
@molsio thanks for reporting. @vorce @akoutmos are you guys able to reproduce it? I am not 😕 I have even created a testcase to do it https://github.com/meltwater/gen_rmq/commit/6e541fff5fdd668cc6369f035925793a6ddf3775 - no luck.

@molsio are you testing against RabbitMQ started via docker-compose we provide?

[2020-10-13 20:03] vorce commented on #214
@mkorszun Hmm yes seems I can reproduce it. I use the example consumer and publisher with the docker-compose.yaml from gen_rmq.

[2020-10-13 20:09] molsio commented on #214
If it's the docker-compose image in the root of the project, then yes.

Maybe you can reproduce it with my source and guide,

docker run --rm -it --name rabbit -p 5672:5672 -p 5673:5673 -p 15672:15672 rabbitmq:3-management

git clone git@github.com:molsio/gen_rmq_214_test.git
Cloning into 'gen_rmq_214_test'...
remote: Enumerating objects: 17, done.
remote: Counting objects: 100% (17/17), done.
rem

[2020-10-13 20:10] vorce commented on #214
@mkorszun https://github.com/vorce/gen_rmq214

[2020-10-14 00:19] akoutmos commented on #214
Thanks for the repo @vorce. I'll take a look and see what I can make of this.

[2020-10-14 05:23] akoutmos commented on #214
I have root caused the issue. It was an interesting one to track down. I'll work on a fix tomorrow and open up a PR.

[2020-10-14 06:23] vorce commented on #214
@akoutmos ooh cool! I was planning to dive deeper today. I'm really curious what you found and how :)

[2020-10-14 20:41] akoutmos commented on #214
@vorce I laid out what the problem was in PR #215. As to how I tracked it down. I leveraged `Process.info` quite a bit while things were running and noticed the memory consumption growing per message being processed. I also noticed via the telemetry events that the slowdown was occurring when each task was being started (as a result of the growing amount of memory needing to be copied as the state

[2020-10-18 10:37] mkorszun commented on #100
Released 🎉 Thanks @akoutmos for all the work!!!

[2020-10-18 10:37] #100 closed

[2020-10-22 13:16] akoutmos commented on #214
With #215 closed, I'll close this ticket as well :).

[2020-10-22 13:16] #214 closed

[2020-10-22 16:57] mkorszun opened #218 "[FEATURE] Remove support for uri in consumer/publisher configuration"
Since version 3, configured via `connection`

[2020-10-22 17:12] mkorszun opened #219 "[FEATURE] Remove support for queue_ttl in consumer configuration"
Since version 3, configured via `queue_options.arguments`

[2020-10-22 17:14] mkorszun opened #220 "[FEATURE] Remove support for queue_max_priority in consumer configuration"
Since version 3, configured via `queue_options.arguments`

[2020-10-25 12:46] mkorszun opened #222 "[BUG] Increased number of random test failures on GH actions"
**Describe the bug**
After migration to GH actions, I am observing an increased number of random test failures, mostly timeouts for PR checks.

**To Reproduce**
Steps to reproduce the behavior:
* Check all completed actions: https://github.com/meltwater/gen_rmq/actions. The majority of them failed due to random, timeout issues
* My observations is that it mainly happens for OTP 23:
  * https://git

[2020-10-28 01:52] akoutmos commented on #222
I'll take a look at this later in the week. I noticed this as well over the past couple PRs

[2020-11-22 16:58] vorce opened #227 "[BUG] Connections can potentially be leaked"
**Describe the bug**
This is a bit theoretical at the moment, I have not experienced it myself in gen_rmq. Creating this issue more as an investigation.

Here's a PR that fixes an issue with the amqp_client used in Broadway, where in some scenarios open connections can be leaked (aka not managed): https://github.com/dashbitco/broadway_rabbitmq/pull/83
More details on the problem in this twitter th

[2020-12-25 11:35] ehayun opened #231 "Question : How do I pause a queue and resume it letter"
I have a very large queue with a lot of messages to be process and it can take even days to complete them all.
I want to pause the queue during the night
How do I do that

Thanks

[2020-12-28 08:50] spier commented on #231
Hi @ehayun. Thanks for your message.

Can you maybe post some pseudo code or other information that would make it easier to understand how your current setup looks like and what you are trying to achieve?

From your questions I am not 100% sure if this is a question about `gen_rmq` or rather about `elixir` itself?

[2020-12-28 09:33] ehayun commented on #231
It can be a question in gen_rmq or elixir. You are right
I actually solve it by supervising the gen_server that listen to the queue but I thought maybe you have a function that can do that without all the hassle

Thanks anyway

[2020-12-28 09:33] #231 closed

[2021-02-04 15:21] Shemeikka commented on #220
With #221 merged, this can be closed.

[2021-02-04 15:21] #220 closed

[2021-02-04 15:21] Shemeikka commented on #219
With #221 merged, this can be closed.

[2021-02-04 15:21] #219 closed

[2021-02-04 15:22] Shemeikka commented on #218
With #221 merged, this can be closed.

[2021-02-04 15:22] #218 closed

[2021-07-08 01:21] williamweckl opened #246 "[FEATURE] AMQP lib version is outdated"
Hi there, how are you guys? First of all thanks for the great work with this amazing library.

Is there a reason to AMQP library is still on version 1.1? Could be updated to 2.1?

**Additional context**

I'm migrating some publishers and consumers made by my own to use GenRMQ and today I'm using AMQP 2.1 version that for now is incompatible with GenRMQ. I can force to use the newer one, that I'm t

[2021-07-08 22:58] williamweckl commented on #246
I see now that is a PR to update AMQP with some discussion on it: https://github.com/meltwater/gen_rmq/pull/235

I think this could be merged already.

[2021-07-27 13:47] spier opened #248 "Reconfigure the coveralls.io integration"
Meltwater is changing our coveralls.io subscription.
As part of that we would have to reconfigure the coveralls.io integration of this repo as well.

[2021-07-27 13:48] spier commented on #248
FYI I am starting work on this today.

[2021-07-27 16:31] spier commented on #248
Looks like gen_rmq will be unimpacted by this change.

From [the coveralls pricing page](https://coveralls.io/pricing):

I will leave this issue open for a bit, to confirm after the next builds if the coveralls integration indeed still works.

[2021-07-28 07:25] spier commented on #248
Looks like this is all still working as expected.

I created a new PR, and the coveralls test coverage still gets displayed:
https://github.com/meltwater/gen_rmq/pull/249#issuecomment-888073843

Also the status and history of coveralls is still displayed correct here:
https://coveralls.io/github/meltwater/gen_rmq

So closing this issue as a noop.

[2021-07-28 07:25] #248 closed

[2021-09-01 15:08] fmmatheus opened #250 "[BUG] Only able to declare/bind durable exchanges, no transient option"
**Describe the bug**

Getting the following error when trying to bind to a existent non-durable exchange:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Manually declare an exchange with `durability: :transient`, `type: :topic` and name `my_exchange` (using the admin UI)
2. Start publisher with the following init():
[code]
3. Verify the error above happening

**Expected behavior**
A

[2021-09-17 09:11] vorce commented on #250
Thanks @fmmatheus, I don't think there's any special reason for this behaviour. And we should probably support this option.

[2022-02-13 13:48] tmartin8080 opened #255 "Publish new version to hex"
`3.0.0` on [hex.pm](https://hex.pm/packages/gen_rmq) still has `amqp` at `~> 1.1` but the [main branch](https://github.com/meltwater/gen_rmq/commit/ae6958c7f5d61b64e075020a9760cc5b64d749c3) has updated deps.

<img width="593" alt="Screen Shot 2022-02-13 at 8 44 16 AM" src="https://user-images.githubusercontent.com/11931030/153756096-c0da5d2a-de99-4641-88a7-a903c5141788.png">

Can somebody publish

[2022-02-18 10:55] dynaum commented on #255
Please! 🙏

[2022-02-24 09:04] spier commented on #255
Thanks for the report @tmartin8080 and confirmation @dynaum. Great to hear that you find this project useful 🥳
Out of curiosity, and as extra motivation for our team, can you share a bit about in which context you are using gen_rmq?

I will try out to reach to our internal team, to see who has time to work on this.

[2022-02-24 10:08] spier commented on #246
@vorce I see that the related PR #235 was closed. Also checking the code on master I see:
`{:amqp, "~> 3.0"}`

So just wanted to confirm with you if this issue here is resolved and can be closed?
(asking you as you reviewed that PR)

[2022-02-24 11:17] vorce commented on #246
Yes we can close this, we upgraded amqp in https://github.com/meltwater/gen_rmq/pull/254 👍

[2022-02-24 11:17] #246 closed

[2022-02-24 13:43] mkorszun commented on #255
hey @dynaum, will do my best to release the new version by the end of this week.

[2022-02-24 13:43] mkorszun commented on #255
hey @dynaum, will do my best to release the new version by the end of this week.

[2022-02-25 08:49] spier commented on #246
Perfect, thanks for the confirmation!

[2022-03-11 16:09] thusnjak opened #257 "[BUG] Exchange type limited to :direct, :fanout, :topic"
**Describe the bug**
Exchange types other than default are not supported. Eg. if you use rabbitmq_consistent_hash_exchange or sharding plugins there are options for other exchange types: x-consistent-hash and x-modulus-hash

**To Reproduce**

Try to start producer with the following configuration (with [consistent_hash_exchange plugin](https://github.com/rabbitmq/rabbitmq-consistent-hash-exchange)

[2022-03-16 15:16] mkorszun commented on #255
it is published

[2022-03-16 15:16] #255 closed

[2022-03-20 08:59] spier commented on #255
@mkorszun should we also list the 4.0.0 version under the **Releases** section on GitHub?

[2022-06-15 19:07] yunmikun2 opened #258 "[FEATURE] Pass options to init callback via start_link function"
**Is your feature request related to a problem? Please describe.**

There is no possibility to pass options to the process when starting it in a supervision tree. It would be nice to have gen_rmq acting like conventional elixir processes. The usage would look like this:

[code]

Then, in `MyApp.SomeConsumer`, we would just define the `child_spec/1` and options' construction in the `init/1`:

[code

[2022-06-15 19:10] yunmikun2 commented on #258
Also note that #130 states that these changes' been implemented, but I can find no trace of these. Guess it's because the PR was not linked to the issue. But still we sure don't have such a feature as of now.

[2022-06-15 19:18] yunmikun2 commented on #205
It seems like it would be nice to have complete module definitions for each existing behaviour in moduledocs. It's not that hard to implement a publisher or a consumer without it, but it would be much easier if you wouldn't need to go through all the definitions (callbacks and functions) to get an idea of how to use it. Especially considering that it deviates from conventions in more common primit

[2022-06-21 10:53] spier commented on #258
@yunmikun2 thanks for the detailed issue including examples and all.

Just out of curiosity, and as motivation for the maintainers of this project, can you share more about for which project you are using `gem_rmq`?

[2022-06-27 11:07] yunmikun2 commented on #258
@spier, it's a project at work so, I guess, I'm not at liberty to get into details. Sorry. :sweat_smile:

[2022-08-05 13:46] ijunaid8989 commented on #258
Hi is it possible to create multiple topics using gen_rmq?

I am trying to publish data to 3 different separate topics, is it possible to do so with gen_rmq?

[2022-08-26 13:44] spier commented on #258
Hi @ijunaid8989 and excuse my slow response.

It looks like your question is not directly to this issue here, is it?
Would you mind opening a [new issue](https://github.com/meltwater/gen_rmq/issues) for this so that we keep the conversations separate?
Thank you